html {
    hanging-punctuation: first last;
}


h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

@media screen and (prefers-reduced-motion: no-preference) { 
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}